 body {
    background-color: #1a1a1a;
    color: #f8f9fa;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    background: linear-gradient(180deg, #ff0000, #7a0000);
    color: #f8f9fa;
    text-align: center;
    padding: 3rem 0;
    position: relative;
}

header h1 {
    font-size: 3.5rem;
}

header p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

section {
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

section h2 {
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 1.5rem;
    animation: fadeIn 1s ease-in-out;
}

.icon-container {
    color: #ff4d4d;
    animation: pulse 2s infinite;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    animation: fadeInLeft 1s ease-in-out;
}

.card {
    background-color: #3d3d3d;
    color: #f8f9fa;
    animation: animate__animated animate__slideInUp;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

a {
    color: #ff4d4d;
    text-decoration: none;
}

a:hover {
    color: #ff6666;
    text-decoration: underline;
}

.modal-content {
    background-color: #ffcccc; 
    border: 2px solid #ff4d4d; 
    border-radius: 10px; 
}


.modal-title {
    color: #900;
}

.btn-close {
    filter: brightness(0) invert(1); 
}

.modal-body {
    font-size: 1.2rem; 
    color: #333; 
    text-align: center; 
}


.modal-footer .btn {
    background-color: #ff4d4d;
    border: none;
}

.modal-footer .btn:hover {
    background-color: #e60000; 
}

.modal-dialog {
    margin: auto;
}